<h1>{{title}}</h1>


  <button type=button data-command="/playback/play">Play</button>
  <button type=button data-command="/playback/pause">Pause</button>

  <button disabled>Previous</button>
  <button disabled>Next</button>
</form>

<script type="text/javascript">
(function(d){
  var form = d.querySelector('form[action="/playback"]');

  document.addEventListener('click', function(e){

    if (e.target.hasAttribute('data-command')) {
      e.preventDefault();

      var xhr = new XMLHttpRequest();
      xhr.open('POST', e.target.getAttribute('data-command'));
      xhr.send();
    }
  });
})(document);
</script>