#app {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  top: 50%;
  margin: -360px auto 0 auto;
}

.keyboard .spacer,
.keyboardButton {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  width: 30px;
}

.keyDEL.lastcol {
  float: right;
  margin-right: 0;
}

.keyboard {
  width: 100%;
}