#app {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  top: 50%;
  margin: -360px auto 0 auto;
}

/* Header including logo */
#header {
  height: 75px;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

#header.offscreen {
  height: 0;
}

#app-navigation {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;  
}

#app-navigation.offscreen {
  bottom: -50px;
}

/* #app height minus #header height (75px) */
#main {
  height: 645px;
}

#logo {
  height: 59px;
  width: 192px;
  margin-top: 8px;
  left: 544px;
  position: absolute;
}

#gui {
  position: absolute;
  top: 570px;
  left: 340px;
  text-align: center;

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

#gui.offscreen {
  opacity: 0;
}

#app.playback #main {
  height: 100%;
}

.keyboard .spacer, .keyboardButton {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  width: 30px;
}

#search-form .keyboardButton {
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 60px;
}

#search-form .keyboard .spacer {
  width: 76px;
  height: 56px;
  vertical-align: top;
  margin-right: 5px;
}

#search-form #ok {
  margin-left: 185px;
  margin-top: 50px;
  height: 40px;
  line-height: 40px;
  max-width: 789px; 
}

.keyDEL.lastcol {
  float: right;
  margin-right: 0;
}

.keyboard {
  width: 100%;
}

/* Player scrub bar */
#scrub {
  clear: both;
  width: 640px;
  margin-bottom: 20px;
}

#scrub_buffer {
  background-color: rgba(0,0,0,0.15);
  height: 20px;
}

#pausePlay {
  margin-right: 20px;
}

.horizontalslider {
  position: relative;
  float: left;
  height: 20px;
  padding: 0;
}

.horizontalsliderhandle {
  height: 20px;
  width: 20px;
  margin-left: -10px;
  position: absolute;
  background-color: white;
  top: 0px;
}

#scrub.focus .horizontalsliderhandle {
  /*background-color: black;*/
}