#app {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  top: 50%;
  margin: -360px auto 0 auto;
}

/* Header including logo */
#header {
  height: 75px;
}

/* #app height minus #header height (75px) */
#main {
  height: 645px;
}

#logo {
  height: 59px;
  width: 192px;
  margin-top: 8px;
  left: 544px;
  position: absolute;
}

.keyboard .spacer,
.keyboardButton {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  width: 30px;
}

.keyDEL.lastcol {
  float: right;
  margin-right: 0;
}

.keyboard {
  width: 100%;
}