* {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

/* Document */
html {
  height: 100%;
}

body {
  background: #1d1d1d;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 16px;
  height: 100%;
  color: #fff;
}

#app {
  background-color: #000;

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #46A1FC, #012D59);
}

#app.playback {
  background: #000;
}

#header {
  background-color: #fff;
}

#app-navigation .buttonBlurred {
  background-color: transparent;
  color: white;
}

/* List widgets */
.horizontallist, .verticallist {
  position: relative;
}

.horizontallist .listitem {
  display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
  display: inline-block;
}

.verticallist .listitem {
  display: block;
  position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
  display: block;
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
  overflow: hidden;
  width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
  display: inline-block;
}

.horizontalcarousel {
  width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

/* DEVICE SPECIFIC DEFAULTS */

/* if you target some consoles you may need to add additional styles like this */
.someConsoles .horizontallist .listitem {
  display: inline-block;
  float: left;
}


/* If you target some older tv models, you will need to specify
   initial element background in the base stylesheet, not in dynamically loaded styles. */

.sometv.layout540p #app {
  width: 960px;
  height: 540px;
}

.sometv.layout720p #app {
  width: 1280px;
  height: 720px;
}

.sometv.layout1080p #app {
  width: 1920px;
  height: 1080px;
}

.samsung.layout540p #app {
  width: 960px;
  height: 540px;
}

.samsung.layout720p #app {
  width: 1280px;
  height: 720px;
}

.samsung.layout1080p #app {
  width: 1920px;
  height: 1080px;
}

/* App specific styles */
#title {
  font-size: 150%;
  line-height: 120%;
  display: block;
  text-align: center;
  margin: 2% auto 0 auto;
}

.button {
  background-color: #DCDCDC;
  display: block;
  text-align: center;
  max-width: 600px;
  padding: 8px;
  color: #000000;
}

.buttonFocussed {
  background-color: #FFD700;
  color: #000000;
}

.buttonDisabled {
  color: #999;
  cursor: not-allowed;
}

.buttonFocussed.menuendpoint {
  background-color: #FFD700;
}

.background-none {
  background-image: none !important;
  background-color: transparent !important;
}

.description {
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 8px 0px;
}

/* Display & Visibility Helpers */
.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

#maincontainer, #maincontroller, #content-to-navigation {
  height: 100%;
}

/* sign-in form */
#outer_login_list {
  max-width: 630px;
  margin: 50px auto 0;
  color: black;
}

#instructions, #signin-form {
  background-color: white;
  padding: 20px;  
}

#instructions {
  margin-bottom: 20px;
}

#signin-form .listitem {
  margin-top: 10px;
}

#app-navigation {
  bottom: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

  #app-navigation .listitem.button {
    margin-right: 8px;
    padding: 10px;
  }

/* Carousel styles */
.carouselmask  {
  overflow: hidden;
  white-space: nowrap;
}

.carouselwidgetstrip {
  position: relative;
}

.carouselItem {
  display: inline-block;
  margin: 0 8px;
}

.carouselItem .label {
  margin: 10px 0;
  display: block;
  line-height: 1.2em;
}

.carouselItem .label.prog_name, .carouselItem .label.synopsis {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carouselItem .label.prog_name {
  font-weight: bold;
}

.carouselItem .label.synopsis {
  color: #ddd;
  font-size: 95%;
}

.carouselItem.focus .label.synopsis {
  color: #333;
}

.carouselItem.button {
  padding: 0;
  width: 302px;
}

.carouselItem.buttonBlurred {
  background-color: transparent;
  color: #fff;
}

/* Search Form */
#search-form .keyboard {
  text-align: center;
}

/* InputText */
.input-text {
  border: 2px solid #ddd;
  display: inline-block;
  padding: 5px 10px;
}
.input-text.placeholder-active {
  color: #999;
}

.carousel_heading {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  padding: 21px 0 18px;
  display: block;
}

#player {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* History carousel styles */
#history .carouselItem {
  display: inline-block;
  padding: 20px 20px;
  width: 310px;
  margin: 0;
  vertical-align: top;
}

/*#history .carouselItem.focus {
  background-color: #FFD700;
}*/

#history .prog_details {
  height: 295px;
}

#history .prog_details .synopsis {
  padding: 0;
  white-space: initial;
  text-wrap: ellipsis;
  line-height: 1.6em;
  font-size: 95%;
}

#history .carouselItem .label.synopsis {
  color: #FFF;
}

#history .carouselItem.focus .label.prog_name {
  color: #FFD700;
}

#history .carouselItem .label.prog_name {
  margin-top: 15px;
  padding: 0;
}

#history .prog_details .button {
  width: 294px;
}

#history .prog_details .button .label {
  margin: 3px 0;
}

#history .prog_details .button.resume_button {
  margin-bottom: 15px
}

#history .prog_details .watched_at {
  color: #DDD;
  font-size: 85%;
}

#history_carousel_CarouselMask {
  margin: 0 20px;
}

/*
#history .carouselItem.focus .image {
  padding-right: 15px;
  background-color: #FFD700;
}*/

#history .carousel_heading {
  padding-bottom: 0;
}

#history #buttons_list {
  bottom: 0;
  position: absolute;
}

#history_progress {
  height: 4px;
  margin-top: 20px;
}

#history_progress_inner {
  background-color: #FFF;
  width: 25px;
  height: 4px;
  position: absolute;
}

#history_progress_left {
  width: 900px;   
  margin: 0 auto;
  height: 4px;
  overflow: visible;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
}

#history_progress_label {
  position: absolute;
  top: -10px;
  left: 1110px;
  margin: 0;
  padding: 0;
}

#debug {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: yellow;
  color: black;
  display: none;
}