* {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

/* Document */
html {
  height: 100%;
}

body {
  background: #1d1d1d;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  height: 100%;
  color: #fff;
}

#app {
  background-color: #000;

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #46A1FC, #012D59);
}

#header {
  background-color: #fff;
}

/* List widgets */
.horizontallist, .verticallist {
  position: relative;
}

.horizontallist .listitem {
  display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
  display: inline-block;
}

.verticallist .listitem {
  display: block;
  position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
  display: block;
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
  overflow: hidden;
  width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
  display: inline-block;
}

.horizontalcarousel {
  width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

/* DEVICE SPECIFIC DEFAULTS */

/* if you target some consoles you may need to add additional styles like this */
.someConsoles .horizontallist .listitem {
  display: inline-block;
  float: left;
}


/* If you target some older tv models, you will need to specify
   initial element background in the base stylesheet, not in dynamically loaded styles. */

.sometv.layout540p #app {
  width: 960px;
  height: 540px;
}

.sometv.layout720p #app {
  width: 1280px;
  height: 720px;
}

.sometv.layout1080p #app {
  width: 1920px;
  height: 1080px;
}

.samsung.layout540p #app {
  width: 960px;
  height: 540px;
}

.samsung.layout720p #app {
  width: 1280px;
  height: 720px;
}

.samsung.layout1080p #app {
  width: 1920px;
  height: 1080px;
}

/* App specific styles */
#title {
  font-size: 150%;
  line-height: 120%;
  display: block;
  text-align: center;
  margin: 2% auto 0 auto;
}

.button {
  background-color: #DCDCDC;
  display: block;
  text-align: center;
  max-width: 600px;
  padding: 8px;
  color: #000000;
}

.buttonFocussed {
  background-color: #FFD700;
  color: #000000;
}

.buttonDisabled {
  color: #999;
  cursor: not-allowed;
}

.buttonFocussed.menuendpoint {
  background-color: #FFD700;
}

.background-none {
  background-image: none !important;
  background-color: transparent !important;
}

.description {
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 8px 0px;
}

/* Display & Visibility Helpers */
.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

#maincontainer, #maincontroller, #content-to-navigation {
  height: 100%;
}

/* sign-in form */
#signin-form {
  max-width: 600px;
  margin: 0 auto;
}

#app-navigation {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

  #app-navigation .listitem.button {
    margin-right: 8px;
    padding: 10px;
  }

/* Carousel styles */
.carouselmask  {
  overflow: hidden;
  white-space: nowrap;
}

.carouselwidgetstrip {
  position: relative;
}

.carouselItem {
  display: inline-block;
  margin: 0 8px;
}

.carouselItem .label {
  line-height: 40px;
  display: block;
}

.carouselItem.button {
  padding: 0;
}

.carouselItem.buttonBlurred {
  background-color: transparent;
  color: #fff;
}

/* Search Form */
#search-form .keyboard {
  text-align: center;
}

/* InputText */
.input-text {
  border: 2px solid #ddd;
  display: inline-block;
  padding: 5px 10px;
}
.input-text.placeholder-active {
  color: #999;
}

.carousel_heading {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 30px 0 20px;
  display: block;
}
/*
.carousel_heading.first {
  padding-top: 10px;
}*/

#player {
  width: 100%;
  height: 100%;
  background-color: #000;
}
